@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 182 71% 12%;

        --card: 0 0% 100%;
        --card-foreground: 182 71% 12%;

        --popover: 0 0% 100%;
        --popover-foreground: 182 71% 12%;

        --primary: 166 74% 39%;
        --primary-foreground: 166 74% 99%;

        --secondary: 168 80% 96%;
        --secondary-foreground: 166 74% 39%;

        --muted: 168 80% 96%;
        --muted-foreground: 182 30% 40%;

        --accent: 168 80% 96%;
        --accent-foreground: 166 74% 39%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;

        --border: 168 30% 92%;
        --input: 168 30% 92%;
        --ring: 166 74% 39%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 182 71% 12%;
        --foreground: 168 80% 96%;

        --card: 182 71% 12%;
        --card-foreground: 168 80% 96%;

        --popover: 182 71% 12%;
        --popover-foreground: 168 80% 96%;

        --primary: 166 74% 39%;
        --primary-foreground: 168 80% 96%;

        --secondary: 182 50% 16%;
        --secondary-foreground: 168 80% 96%;

        --muted: 182 50% 16%;
        --muted-foreground: 168 30% 72%;

        --accent: 182 50% 16%;
        --accent-foreground: 168 80% 96%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 168 80% 96%;

        --border: 182 50% 16%;
        --input: 182 50% 16%;
        --ring: 166 74% 39%;
    }
}

@layer base {
    * {
        border-color: var(--border);
    }

    body {
        background-color: hsl(var(--background));
        color: hsl(var(--foreground));
    }
}